<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1>Lite om mig.</h1>
        <u1>
            <li><a href="/">Home</a></li>
            <li><a href="/jag">Jag</a></li>
            <li><a href="#">button</a></li>
            <li><a href="/sida2">tutorial</a></li>
        </u1>
        </div>
    </header>

    <section id="showcase">
    <div class="container">
        <h1>TSLA STONK!</h1>
    </div>
        <section id="boxes">
            <div class="container">
                <a href="https://github.com/andreas-jansson/hotdog-nothotdog">
                <div class="box-1">
                    <h1>Hot dog not not dog!</h1>
                </div>
                </a>
                <a href="https://www.youtube.com">
                <div class="box-2">
                    <h1>Mer onödiga projekt</h1>
                </div>
                </a>
                <a href="https://vadfanskajaglagatillmiddag.nu/">
                <div class="box-3">
                    <h1>Ännu mer onödiga saker!</h1>
                </div>
                </a>



            </div>
        </section>
    </section>






</body>
</html>