<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styletest.css') }}">
  </head>
  <body>

      <div class="container">
        <div class="box-1">
        <h1>  My shitty website </h1>
        <p>  it ain't much, but its honest work </p>
      </div>

      <div class="box-2">
        <h1>  More boxes </h1>
        <p>  dayum </p>
      </div>

      <div class="categories">
        <h2>Categories</h2>
        <u1>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
          <li><a href="/sida2">Category 4</a></li>
        </u1>
      </div>

      <form class="my-form">
        <div class="form-group">
          <label>Name: </label>
          <input type="text" name="name">
        </div>

        <div class="form-group">
          <label>Email: </label>
          <input type="text" name="email">
        </div>

        <div class="form-group">
          <label>Message: </label>
          <textarea name="message"></textarea>
        </div>

        <input class="button" type="submit" value="Submit" name="">

      </form>

      <div class="block">
        <h3>Heading</h3>
        <p>random text as usual</p>
      </div>
      <div class="block">
        <h3>Heading</h3>
        <p>random text as usual</p>
      </div>
      <div class="block">
        <h3>Heading</h3>
        <p>random text as usual</p>
      </div>

      <div class="clr"></div>

      <div id="main-block">
        <h3>Main</h3>
        <p>random text as usual</p>


      </div>
      <div id="side-bar">
        <h3>Side-bar</h3>
        <p>random text as usual</p>

      </div>
      <div class="clr"></div>
      <div class="p-box">
        <h1>Hello</h1>
        <h2>laters</h2>
      </div>
      <u1 class="my-list">
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </u1>

    </div> <!-- container -->
  </body>
</html>