<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1><a href="/">Lite Om Mig.</a></h1>
        <u1>
            <li><a href="/">
                <div class="icon-home"></div>
            </a></li>

            <li><a href="/jag">
                <div class="icon-photos"></div>
            </a></li>

            <li><a href="https://www.linkedin.com/in/andreas-jansson-1b14b6163/">
                <div class="icon-li"></div>
            </a></li>

            <li><a href="https://github.com/andreas-jansson">
                <div class="icon-git"></div>
            </a></li>

        </u1>
        </div>
    </header>

    <section id="showcase">
    <div class="container">
        <h1>TSLA STONK!</h1>
    </div>
        <section id="boxes">
            <div class="container">
                <a href="https://github.com/andreas-jansson/hotdog-nothotdog">
                <div class="box-1">
                    <div class="container-icon">
                        <div class="icon-1"></div>
                    </div>
                    <h1>Hot Dog Not Hot Dog.</h1>
                </div>
                </a>
                <a href="https://www.youtube.com">
                <div class="box-2">
                        <div class="container-icon">
                            <div class="icon-2"></div>
                       </div>
                    <h1>Mer onödiga projekt</h1>
                </div>
                </a>
                <a href="https://vadfanskajaglagatillmiddag.nu/">
                <div class="box-3">
                    <div class="container-icon">
                        <div class="icon-3"></div>
                    </div>
                    <h1>Ännu mer onödiga saker!</h1>
                </div>
                </a>



            </div>
        </section>
    </section>

    <div class="clear"></div>

    <div id="footer">
        <div class="container-footer">
            <p>&#169 Don't steel my stolen images</p>
        </div>

    </div>



</body>
</html>