<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
<header id="main-header">
    <div class="container">
        <h1>My website</h1>
    </div>
</header>

<nav id="nav-bar">
    <div class="container">
        <u1>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/home2">home2</a></li>
            <li><a href="/sida2">sida2</a></li>
        </u1>
    </div>
</nav>

<section id="showcase">
    <div class="container">
        <h1>Showcase Text Text Text Text Text
        Text Text Text Text Text Text
         Text Text Text Text Text Text</h1>
    </div>
</section>


<div class="container">
    <section id="main">
        <h1>Welcome!</h1>
        <p>shitty text</p>
    </section>

    <aside id="sidebar">
        <p>another sidebar</p>
    </aside>
</div>

<footer id="main-footer">
    <p>footer D:</p>
</footer>

</body>
</html>